<!DOCTYPE html>
<%- include('head'); %>
<body class="container">
    <%- include('header'); %>
    <main>
        <div class="bg-body-secondary">
            <h1>Sobre mim</h1>
            <p>Olá! sou a Camila Xavier, estudante de programação da Rocketseat.</p>
        </div>
    </main>
    <%- include('footer'); %>
</body>
</html>