<!DOCTYPE html>
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    <main>
        <div class="bg-body-secondary">
            <h1>Sobre mim</h1>
            <p>Olá! sou a Camila Xavier, estudante de programação da Rocketseat.</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>